pandas 
numpy 
scikit-learn 
sentence-transformers 
gensim 
umap-learn 
tqdm 
joblib 
matplotlib
lightgbm
seaborn
plotly
nbformat 
ipywidgets
scipy
pytorch-tabnet
transformers
catboost
xgboost
pydantic
fastapi 
uvicorn
